
.main-page-container {
    display: flex;
    gap: 10px;
    flex-direction: column;
}

.header-container {
    /* border: 1px solid #140114; */
    display:flex;
    justify-content: space-around;
    flex-direction: row;
    font-size: 20px;    
}
.header-button {
    background-color: #f2dcf2;
    height: 25px;
    width: 150px;
    border-color: #140114;
    border-radius: 5px;
}
.chat-container {
    display:flex;
    height: 70svh;
    width: 100%;
}
.userList-container {
    display: flex;
    flex-direction: column;
    width: 35%;
    gap: 10px;
}
.userListItem-container {
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    /* overflow-x:hidden; */
}
.search-form {
    height: 24px;
    outline: none;
    padding: 1% 5%;
    width: 83%;
}
.footer-container {
    display:flex;
    justify-content: space-around;
    flex-direction: row;
    font-size: 20px;    
}

.footer-link {
    text-decoration: none;
}