.user-list-item[isLogined="false"] {
    color: #a1050f;
}
.user-list-item[isLogined="true"] {
    color: green;
}

.user-list-item {
    display: flex;
    justify-content: space-between;
   
}
.user-list-item:hover {
    cursor: pointer;
}
